
@{
    ViewBag.Title = "LogIn";
}

<h2>Successfully Logged information!</h2>
<div>
    In this session, you have inputted the User Name for the account as: @Session["UserName"].<br />
    In this session, you have inputted the Color Choice for the account as: @Session["Color"].<br />
    In this session, you have inputted the Favorite Food for the account as: @Session["FavoriteFood"].<br />
</div>
<style>
    body{
        background-color: @Session["Color"];
        color: white;
    }
</style>


