
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to the Session session!</h2>

User Name: @Session["UserName"].<br />
Color Choice: @Session["Color"].<br />
Favorite Food: @Session["FavoriteFood"].<br />

<style>
    body{
        background-color: @Session["Color"];
        color: white;
    }
</style>

